@font-size-base: 15px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 13px;
@menu-scrolling:#f0f2f5;
@menu-scrolling-bg:#ffffff00;

.anticon {
    vertical-align: 0.125em!important;
}


.prueba.ant-menu-item-selected{
    background-color: @body-background !important;
    color: @text-color;
    
    &::after {
       // opacity: 0!important;
        border-right: @border-width-base @border-style-base @border-color-split;
      }


  }
 // @layout-header-background: @layout-footer-background;

 ::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 
::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: @menu-scrolling-bg;
    border-radius: 6px;
    border: 2px solid @menu-scrolling-bg;
}

::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: @menu-scrolling;
    border-radius: 6px;
    border: 2px solid @menu-scrolling-bg
}

::-webkit-scrollbar-thumb :hover,
body::-webkit-scrollbar-thumb :hover {
    background-color: @menu-scrolling-bg
}

::-webkit-scrollbar-corner {
    background-color: @menu-scrolling-bg;
  }