<section>
    <nz-divider *ngIf="divider"></nz-divider>
    <div class="pb-5">
        <nz-collapse nzGhost>
            <ng-template #HeaderComponent>
                <span nz-typography class="icon-text">
                    <span nz-icon *ngIf="icon"><i class="{{icon}}"></i></span>
                    <nz-divider nzType="vertical"></nz-divider>
                    <h3 nz-typography class="mb-2">{{title}}</h3>
                    <ng-content select="description"></ng-content>
                </span>
              </ng-template>
            <nz-collapse-panel
              [nzHeader]="HeaderComponent"
              [nzActive]="true"
              [nzShowArrow]="showArrow"
            >
            <ng-content></ng-content>

            </nz-collapse-panel>
          </nz-collapse>
          
    </div>
</section>