  <footer class="footer fixed-bottom py-3 text-center">
    <div class="text-center container">
      <span>
        &copy; {{year}}
      </span>
      <nz-divider nzType="vertical"></nz-divider>
      <span>
        <a nz-button nzType="link" [href]="github" target="_blank">
          Github <span  id="icon" nz-icon nzType="github" nzTheme="fill"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" [href]="linkedin" target="_blank">
          Linkedin <span  id="icon" nz-icon nzType="linkedin" nzTheme="fill"></span>
        </a>
      </span>
      <nz-divider nzType="vertical"></nz-divider>
      <span>
        <nz-select nzPlaceHolder="Language" [(ngModel)]="selectedValue" (ngModelChange)="languageChange($event)" nzBorderless>
          <nz-option *ngFor="let item of language; trackBy :trackByValue" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </span>
      <nz-divider nzType="vertical"></nz-divider>

      <button nz-button nzType="default" (click)="toggleTheme()">{{"settings.theme" | translate }}</button>

    </div>
  </footer>
  