<nz-header>
  <div class="nav-wrap">
    <ul class="nav-left list-unstyled">
      <li>
        <span class="header-trigger" (click)="onToggleMenu()">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </li>
    </ul>
    <ul class="nav nav-right list-unstyled d-flex ">
      <li class="mx-3 text-center">
        <nz-badge [nzCount]="1" nz-dropdown [nzDisabled]="isMobile" [nzDropdownMenu]="menuNotification"
          nzPlacement='bottomRight' nzTrigger="click"  [nzVisible]="visibleDropdown"
          (nzVisibleChange)="onDropdownVisibleChange($event)"
          
          (click)="isMobile ? openDrawer() : null" >
          <span class="header-trigger" style="padding-right: 0;">
            <i class="trigger" nz-icon nzType="bell" [nzTheme]="isCollapsedNotification ? 'fill': 'outline'"></i>
          </span>
        </nz-badge>
        <nz-dropdown-menu  #menuNotification="nzDropdownMenu"  class="p-0">
          <nz-card [nzBodyStyle]="{'overflow':'auto','max-height':'300px'}" style="width:350px;"
            nzTitle="Notificaciones" [nzExtra]="extraTemplate">
            <nz-list nzItemLayout="horizontal" [nzSize]="'small'">
              <nz-list-item *ngFor="let item of data">
                <nz-list-item-meta nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                  nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
                  <nz-list-item-meta-title>
                    <a href="https://ng.ant.design">{{ item.title }}</a>
                  </nz-list-item-meta-title>
                </nz-list-item-meta>
              </nz-list-item>
              <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
            </nz-list>
          </nz-card>
          <ng-template #extraTemplate>
            <a nz-button [routerLink]="''">Ver Todo</a>
          </ng-template>
        </nz-dropdown-menu>
      </li>

      <li class="dropdown mx-3">
        <a class="dropdown-toggle" nz-dropdown [nzDropdownMenu]="menu">
          Nombre Usuario.
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu" class="p-0">
          <ul nz-menu>
            <li nz-menu-group [nzTitle]="'header.user.dropdown.profile.title' | translate">
              <ul>
                <li nz-menu-item>{{'header.user.dropdown.profile.view' | translate}}</li>
                <li nz-menu-item>{{'header.user.dropdown.profile.edit' | translate}}</li>
                <li nz-menu-item>{{'header.user.dropdown.profile.myAccount' | translate}}</li>
                <li nz-menu-item>{{'header.user.dropdown.profile.notifications' | translate}}</li>
                <li nz-menu-item>{{'header.user.dropdown.profile.recentActivity' | translate}}</li>
              </ul>
            </li>
            <li nz-menu-group [nzTitle]="'header.user.dropdown.settings.title' | translate">
              <ul>
                <li nz-menu-item>{{'header.user.dropdown.settings.changePassword' | translate}}</li> 
                <li nz-menu-item>{{'header.user.dropdown.settings.preferences' | translate}}</li>
                <li nz-menu-item>{{'header.user.dropdown.settings.privacy' | translate}}</li>
                <li nz-menu-item>{{'header.user.dropdown.settings.security' | translate}}</li>
              </ul>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-group [nzTitle]="'header.user.dropdown.help.title' | translate">
              <ul>
                <li nz-menu-item>{{'header.user.dropdown.help.faq' | translate}}</li>
                <li nz-menu-item>{{'header.user.dropdown.help.documentation' | translate}}</li>
              </ul>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item>{{'header.user.dropdown.logout' | translate}}</li>
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>
  </div>
  <nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleDrawer"
  [nzPlacement]="placement"
  nzTitle="Notificaciones" [nzExtra]="extraTemplate"
  (nzOnClose)="closeDrawer()"
  [nzBodyStyle]="{'overflow':'auto','max-height':'300px'}"
>
  <ng-container *nzDrawerContent>
        <nz-list nzItemLayout="horizontal" [nzSize]="'small'">
          <nz-list-item *ngFor="let item of data">
            <nz-list-item-meta nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
              <nz-list-item-meta-title>
                <a href="https://ng.ant.design">{{ item.title }}</a>
              </nz-list-item-meta-title>
            </nz-list-item-meta>
          </nz-list-item>
          <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
        </nz-list>
      <ng-template #extraTemplate>
        <a nz-button [routerLink]="''">Ver Todo</a>
      </ng-template>
  </ng-container>
</nz-drawer>
  
</nz-header>