<nz-header>
  <div class="navbar">
    <div class="nav nav-left">
      <div>
        <span class="header-trigger" (click)="onToggleMenu()">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </div>
    <div class="nav nav-center col-1 d-flex flex-fill">
      <app-input [cleaner]='true' icon='search' [placeholder]="'header.search' | translate" [autoComplete]="auto">
        <nz-autocomplete [nzDataSource]="options" nzBackfill #auto></nz-autocomplete>
      </app-input>
    </div>
    <div class="nav nav-right d-flex">
      <div >
        <!-- Bell -->
        <nz-badge [nzCount]="1" nz-dropdown [nzDisabled]="isMobile" [nzDropdownMenu]="menuNotification"
          nzPlacement='bottomRight' nzTrigger="click"  [nzVisible]="visibleDropdown"
          (nzVisibleChange)="onDropdownVisibleChange($event)"
          
          (click)="isMobile ? openDrawer() : null" >
          <span class="bell-icon">
            <i id="bellIcon" class="trigger" nz-icon nzType="bell" [nzTheme]="isCollapsedNotification ? 'fill': 'outline'"></i>
          </span>
          
        </nz-badge>
        <nz-dropdown-menu  #menuNotification="nzDropdownMenu"  class="p-0">
          <nz-card [nzBodyStyle]="{'overflow':'auto','max-height':'300px'}" style="width:350px;"
            nzTitle="Notificaciones" [nzExtra]="extraTemplate">
            <nz-list nzItemLayout="horizontal" [nzSize]="'small'">
              <nz-list-item *ngFor="let item of data">
                <nz-list-item-meta nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                  nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
                  <nz-list-item-meta-title>
                    <a href="https://ng.ant.design">{{ item.title }}</a>
                  </nz-list-item-meta-title>
                </nz-list-item-meta>
              </nz-list-item>
              <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
            </nz-list>
          </nz-card>
          <ng-template #extraTemplate>
            <a nz-button [routerLink]="''">Ver Todo</a>
          </ng-template>
        </nz-dropdown-menu>
      </div>
      <!-- User -->
      <div style="margin-top: 3px;">
        <nz-badge nz-dropdown [nzDisabled]="isMobile" [nzDropdownMenu]="menu"
        nzPlacement='bottomRight' nzTrigger="click"  [nzVisible]="visibleDropdown"
        (nzVisibleChange)="onDropdownUserVisibleChange($event)"
        (click)="isMobile ? openUserDrawer() : null" >
        <span class="bell-icon" style="padding-right: 0;">
          <i id="userIcon" class="trigger bi bi-person-circle"></i>
        </span>
      </nz-badge>
        <nz-dropdown-menu #menu="nzDropdownMenu" class="p-0 no-bootstrap">
          <div>
            <ul nz-menu nzMode="vertical" style="width: 240px;">
              <ng-container *ngFor="let menu of menus">
                <li *ngIf="menu.submenus && menu.submenus.length > 0" nz-submenu [nzTitle]="menu.title | translate" [nzIcon]="menu.icon" >
                  <ul>
                    <li *ngFor="let submenu of menu.submenus" nz-menu-item>{{ submenu | translate }}</li>
                  </ul>
                </li>
                <li *ngIf="!menu.submenus" nz-menu-item>{{ menu.title | translate }}</li>
              </ng-container>
            </ul>
          </div>
        </nz-dropdown-menu>
      </div>

      <!--Prueba -->
      <ul nz-menu nzMode="horizontal" >
        <li nz-submenu nzTitle="Navigation Three - Submenu" nzIcon="setting">
          <ul>
            <li nz-menu-group nzTitle="Item 1">
              <ul>
                <li nz-menu-item>Option 1</li>
                <li nz-menu-item>Option 2</li>
              </ul>
            </li>
            <li nz-menu-group nzTitle="Item 2">
              <ul>
                <li nz-menu-item>Option 3</li>
                <li nz-menu-item>Option 4</li>
                <li nz-submenu nzTitle="Sub Menu">
                  <ul>
                    <li nz-menu-item nzDisabled>Option 5</li>
                    <li nz-menu-item>Option 6</li>
                  </ul>
                </li>
                <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                  <ul>
                    <li nz-menu-item>Option 5</li>
                    <li nz-menu-item>Option 6</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>


    </div>
  </div>

  <nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleDrawer"
  [nzPlacement]="placement"
  nzTitle="Notificaciones" [nzExtra]="extraTemplate"
  (nzOnClose)="closeDrawer()"
  [nzBodyStyle]="{'overflow':'auto','max-height':'300px'}"
>
  <ng-container *nzDrawerContent>
        <nz-list nzItemLayout="horizontal" [nzSize]="'small'">
          <nz-list-item *ngFor="let item of data">
            <nz-list-item-meta nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
              <nz-list-item-meta-title>
                <a href="https://ng.ant.design">{{ item.title }}</a>
              </nz-list-item-meta-title>
            </nz-list-item-meta>
          </nz-list-item>
          <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
        </nz-list>
      <ng-template #extraTemplate>
        <a nz-button [routerLink]="''">Ver Todo</a>
      </ng-template>
  </ng-container>
</nz-drawer>
  
<nz-drawer
[nzClosable]="false"
[nzVisible]="visibleUserMenu"
nzPlacement="right"
[nzWidth]="'256px'"
(nzOnClose)="closeUserDrawer()"
[nzBodyStyle]="{ padding: '0' }"
>
<ng-container *nzDrawerContent>
  <ul nz-menu nzMode="inline">
    <ng-container *ngFor="let menu of menus">
      <li *ngIf="menu.submenus && menu.submenus.length > 0" nz-submenu [nzTitle]="menu.title | translate" [nzIcon]="menu.icon" [nzOpen]="true">
        <ul>
          <li *ngFor="let submenu of menu.submenus" nz-menu-item>{{ submenu | translate }}</li>
        </ul>
      </li>
      <li *ngIf="!menu.submenus" nz-menu-item>{{ menu.title | translate }}</li>
    </ng-container>
  </ul>
</ng-container>
</nz-drawer>
</nz-header>