<nz-header>
  <div class="nav-wrap">
    <ul class="nav-left list-unstyled">
      <li>
        <span class="header-trigger" (click)="onToggleMenu()">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </li>
    </ul>
    <ul class="nav nav-right list-unstyled d-flex ">
      <li class="mx-3">
        <nz-badge [nzCount]="1" nz-dropdown [nzDropdownMenu]="menuNotification" nzTrigger="click" (nzVisibleChange)="onDropdownVisibleChange($event)">
          <span class="header-trigger" style="padding-right: 0;">
            <i class="trigger" nz-icon nzType="bell" [nzTheme]="isCollapsedNotification ? 'fill': 'outline'"></i>
          </span>
        </nz-badge>
        <nz-dropdown-menu #menuNotification="nzDropdownMenu" class="p-0">
          <nz-card class="m-0" style="width:300px;" nzTitle="Card title">
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
          </nz-card>
        </nz-dropdown-menu>
      </li>
      <li class="dropdown mx-3">
        <a class="dropdown-toggle" nz-dropdown [nzDropdownMenu]="menu">
          Nombre Usuario.
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu" class="p-0">
          <ul nz-menu>
            <li nz-menu-group nzTitle="Perfil">
              <ul>
                  <li nz-menu-item>Ver perfil</li>
                  <li nz-menu-item>Editar perfil</li>
                  <li nz-menu-item>Mi cuenta</li>
                  <li nz-menu-item>Notificaciones</li>
                  <li nz-menu-item>Actividad reciente</li>
              </ul>
           </li>
           <li nz-menu-group nzTitle="Configuración">
              <ul>
                  <li nz-menu-item>Cambiar contraseña</li>
                  <li nz-menu-item>Preferencias</li>
                  <li nz-menu-item>Privacidad</li>
                  <li nz-menu-item>Seguridad</li>
              </ul>
           </li>
           <li nz-menu-divider></li>
           <li nz-menu-group nzTitle="Ayuda">
              <ul>
                  <li nz-menu-item>Preguntas frecuentes</li>
                  <li nz-menu-item>Documentación</li>
              </ul>
           </li>
           <li nz-menu-divider></li>          
           <li nz-menu-item>Cerrar sesión </li>          
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>
  </div>
</nz-header>