<page-title [dividerTop] ='true' [dividerBottom] ='true' [padding]=5>
    <h2 class="display-5 fw-bold text-uppercase">{{"home.title" | translate}}</h2>
    <p class="fs-4">{{"home.description" | translate}}</p>
    <a [href]="repository" target="_blank">
      <button nz-button nzType="primary" [nzSize]="'large'">
        {{"home.button_repositoty" | translate}}
      </button>
    </a>
</page-title>
  <section>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <img-card
                title="FRONTEND"
                [imageUrl]="'/assets/image/angular.png'"
                route="/angular"
                alt="angular"
                [loading]="loading"
              >
            <ng-container description>
              <p nz-typography nzEllipsis nzEllipsisRows="3" nzType="secondary" class="text-limit">
                {{'home.information.angular'  | translate}}
              </p>
            </ng-container>
            </img-card> 
            </div>
            <div class="col">
                <img-card
                title="BACKEND"
                [imageUrl]="'/assets/image/express.png'"
                route="/express"
                alt="express"
                [loading]="loading">
                <ng-container description>
                  <p nz-typography nzEllipsis nzEllipsisRows="3" nzType="secondary" class="text-limit">
                    {{'home.information.express'  | translate}}
                  </p>
                </ng-container>
            </img-card> 
            </div>
            <div class="col">
                <img-card
                title="DATABASE"
                [imageUrl]="'/assets/image/mongodb.png'"
                route="/mongodb"
                alt="mongodb"
                [loading]="loading">
                <ng-container description>
                  <p nz-typography nzEllipsis nzEllipsisRows="3" nzType="secondary" class="text-limit">
                    {{'home.information.mongodb'  | translate}}
                  </p>
                </ng-container>
            </img-card> 
            </div>
        </div>
    </div>
</section>