<div class="d-flex flex-column h-100 justify-content-center align-items-center mb-5">
  <div class="container">
    <div class="wrap d-md-flex justify-content-center" >
      <!--
      <nz-card class="d-flex align-items-center justify-content-center bg-dark" [nzBorderless]="true">
        <div class="text-wrap p-4 text-center d-flex align-items-center order-md-last">
          <div class="text w-100">
            <p>¿No tienes una cuenta?</p>
            <button nz-button nzType="dashed">REGISTRATE</button>
          </div>
        </div>
      </nz-card>
 -->
      <nz-card class="form-login-width py-md-4 px-2 "  [nzBorderless]="true" >
        <div class="mx-auto">
          <app-login-form></app-login-form>
        </div>
      </nz-card>
    </div>
  </div>
</div>