/* You can add global styles to this file, and also import other style files 
@import "~ng-zorro-antd/ng-zorro-antd.dark.css";
*/

::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: #262626
}

::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #434343;
    border-radius: 6px;
    border: 2px solid #262626
}

::-webkit-scrollbar-thumb :hover,
body::-webkit-scrollbar-thumb :hover {
    background-color: #262626
}