
<ng-template #sideBarTemplate>
  <div class="sidebar-logo">
    <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
    <h1>Sistema de Gestión</h1>
  </div>
    <ul [class]="!isMobile?'scrolling':''" nz-menu [nzMode]="mode ? 'vertical' : 'inline'" [nzInlineCollapsed]="isCollapsed" >
     
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" 
      [nzTooltipTitle]="isCollapsed ? 'Inicio' : ''"  
      [routerLink]="['/']"
      routerLinkActive="ant-menu-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
      >
          <span nz-icon nzType="home"></span>
          <span>Inicio</span>
      </li>

      <li nz-menu-item *ngFor="let menuItem of menuItems" 
      nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? menuItem.tooltip : ''" 
      [routerLink]="[menuItem.route]" >
      <span nz-icon><i [class]="menuItem.icon"></i></span>
        <span>{{ menuItem.name }}</span>
      </li>
      <li nz-menu-divider></li>

      <li nz-submenu *ngFor="let menuItem of submenuItems" [nzTitle]="TemplateFor">
        <ng-template #TemplateFor>
          <span nz-icon><i [class]="menuItem.icon"></i></span>
          <span>{{menuItem.name}}</span>
        </ng-template>
        <ul nz-menu-group [nzTitle]="isCollapsed ? menuItem.name : 'Opciones'">
          <li nz-menu-group *ngFor="let submenuItem of menuItem.children" [nzTitle]="submenuItem.title">
            <ul>
              <li nz-menu-item  *ngFor="let childrenSubmenuItem of submenuItem.children" 
              [routerLink]="childrenSubmenuItem.routerLink"
              >
                <span nz-icon><i [class]="childrenSubmenuItem.icon"></i></span>
                <span>{{childrenSubmenuItem.name}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-menu-divider></li>
    </ul>
  
<ul nz-menu [nzMode]="mode ? 'vertical' : 'inline'" [nzInlineCollapsed]="isCollapsed" class="mt-auto">
  <li nz-menu-group>
    <ul class="ant-menu-item-group-list">
      <li *ngIf="(themeChanged$ | async) as themeType" nz-menu-item nz-tooltip nzTooltipPlacement="right"
        (click)="toggleTheme();"
        [nzTooltipTitle]="isCollapsed ? (((themeChanged$ | async) === ThemeType.Dark ? 'settings.theme.default' : 'settings.theme.dark') | translate): ''"
        class="prueba">
        <span nz-icon>
          <i *ngIf="themeType === ThemeType.Default" class="fas fa-moon"></i>
          <i *ngIf="themeType === ThemeType.Dark" class="fas fa-sun"></i>
        </span>
        <span>
          {{ ((themeChanged$ | async) === ThemeType.Dark ? "settings.theme.default" : "settings.theme.dark") | translate
          }}
        </span>
      </li>
    </ul>
  </li>
</ul>
</ng-template>
<section class="sticky-top">
  <ng-container *ngTemplateOutlet="sideBarTemplate"></ng-container>
</section>

<nz-drawer *ngIf="isMobile" [nzVisible]="!isCollapsed" [nzPlacement]="'left'" [nzWidth]="'256px'" [nzClosable]="false"
  (nzOnClose)="close()" [nzBodyStyle]="{ padding: '0' }">
  <ng-container *nzDrawerContent>
    <ng-container *ngTemplateOutlet="sideBarTemplate"></ng-container>
  </ng-container>
</nz-drawer>