.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  }
  
  .menu-sidebar ::ng-deep .ant-menu-inline {
  border-right: none;
  }

  .cdk-global-scrollblock {
    overflow: unset !important;
  }

  :host ::ng-deep .ant-tabs-nav {
    align-self: center;
}


:host ::ng-deep .ant-tabs-nav-wrap,:host ::ng-deep  .ant-tabs-nav-operations{
  display:none!important;
}

:host ::ng-deep ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-inline-collapsed,
:host ::ng-deep ul.ant-menu.ant-menu-root.ant-menu-light.ant-menu-inline,
:host ::ng-deep .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
  border-right: 0px;
}


.scrolling{
  max-height: calc(100vh - 132px);
   /* overflow: auto;*/
    overflow: overlay;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */  
    overflow-x: hidden;
}
.scrolling::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.scrolling:hover {
  overflow-y: scroll;
}

/*
.scrolling:hover::-webkit-scrollbar {
  overflow: overlay;
  display: inline; 
}
*/

:host ::ng-deep .ant-anchor-ink{
  display: none;
}


:host ::ng-deep .ant-anchor{
  padding-left:0px;
}

.collapsed-affix{
  width: 79.0625px!important

}