<div class="sidebar-logo">
  <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
  <h1>Sistema de Gestión</h1>
</div>

<ul class="scrolling" nz-menu [nzMode]="mode ? 'vertical' : 'inline'" [nzInlineCollapsed]="isCollapsed" >
  <li nz-menu-item nz-tooltip nzTooltipPlacement="right" 
  [nzTooltipTitle]="isCollapsed ? 'Inicio' : ''"  
  [routerLink]="['/']"
  routerLinkActive="ant-menu-item-selected"
  [routerLinkActiveOptions]="{ exact: true }"
  >
      <span nz-icon nzType="home"></span>
      <span>Inicio</span>
  </li>
  <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Angular' : ''" nzMatchRouter [routerLink]="['angular']">
    <span nz-icon><i class="fab fa-angular"></i></span>
    <span>Angular</span>
  </li>
  <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'MongoDB' : ''" nzMatchRouter [routerLink]="['mongodb']">
    <span nz-icon><i class="fas fa-database"></i></span>
    <span>MongoDB</span>
  </li>
  <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Express' : ''" nzMatchRouter [routerLink]="['express']">
    <span nz-icon><i class="fab fa-node-js"></i></span>
    <span>Express</span>
  </li>
  <li nz-menu-divider></li>

  <li nz-submenu [nzTitle]="Taskpl">
    <ng-template #Taskpl>
      <span nz-icon><i class="bi bi-list-task"></i></span>
      <span>Tareas</span>
    </ng-template>
    <ul nz-menu-group [nzTitle]="isCollapsed ? 'Tareas' : 'Opciones'">
      <li nz-menu-group nzTitle="Acciones">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="fa-solid fa-thumbtack"></i></span>
            <span>Ver todas las tareas</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="bi bi-plus-circle"></i></span>
            <span>Agregar tarea</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="bi bi-star"></i></span>
            <span>Ver favoritas</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="bi bi-clock"></i></span>
            <span>Ver programadas</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Filtrar">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-calendar-day"></i></span>
            <span>Hoy</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-check-circle"></i></span>
            <span>Completas</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-exclamation-circle"></i></span>
            <span>Vencidas</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-folder"></i></span>
            <span>Categorias</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-hourglass-half"></i></span>
            <span>Proxima</span>
          </li>
        </ul>
      </li>

    </ul>
  </li>

  <li nz-submenu [nzTitle]="Proyectospl">
    <ng-template #Proyectospl>
      <span nz-icon><i class="bi bi-journal"></i></span>
      <span>Proyectos</span>
    </ng-template>
    <ul nz-menu-group [nzTitle]="isCollapsed ? 'Proyectos' : 'Opciones'">
      <li nz-menu-group nzTitle="Acciones">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="bi bi-folder-plus"></i></span>
            <span>Nuevo Proyecto</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="bi bi-folder2-open"></i></span>
            <span>Ver Proyectos</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="bi bi-archive"></i></span>
            <span>Archivar Proyecto</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Filtrar">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-calendar-day"></i></span>
            <span>Por Fecha</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-check-circle"></i></span>
            <span>Completados</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-exclamation-circle"></i></span>
            <span>Pendientes</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Avanzado">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="bi bi-people"></i></span>
            <span>Compartir Proyecto</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="bi bi-chat-right-text"></i></span>
            <span>Comentarios</span>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li nz-submenu [nzTitle]="Userpl">
    <ng-template #Userpl>
      <span nz-icon><i class="bi bi-person"></i></span>
      <span>Usuarios</span>
    </ng-template>
    <ul nz-menu-group [nzTitle]="isCollapsed ? 'Usuarios' : 'Opciones'">
      <li nz-menu-group nzTitle="Ver usuarios">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-users"></i></span>
            <span>Ver todos los usuarios</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-user-check"></i></span>
            <span>Usuarios verificados</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-user-slash"></i></span>
            <span>Usuarios bloqueados</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Agregar usuario">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="bi bi-plus-circle"></i></span>
            <span>Agregar usuario</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-user-tag"></i></span>
            <span>Agregar etiqueta</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Filtrar usuarios">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-calendar-day"></i></span>
            <span>Registrados hoy</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-user-tag"></i></span>
            <span>Usuarios con etiquetas</span>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li nz-submenu [nzTitle]="RolesPerms">
    <ng-template #RolesPerms>
      <span nz-icon><i class="bi bi-shield-lock"></i></span>
      <span>Roles y Permisos</span>
    </ng-template>
    <ul nz-menu-group [nzTitle]="isCollapsed ? 'Roles y Permisos' : 'Opciones'">
      <li nz-menu-group nzTitle="Acciones">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-list"></i></span>
            <span>Ver todos los roles</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-plus"></i></span>
            <span>Agregar nuevo rol</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Permisos">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-list"></i></span>
            <span>Ver todos los permisos</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-plus"></i></span>
            <span>Agregar nuevo permiso</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Asignación">
        <ul>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-user-plus"></i></span>
            <span>Asignar rol a usuario</span>
          </li>
          <li nz-menu-item>
            <span nz-icon><i class="fas fa-key"></i></span>
            <span>Asignar permiso a rol</span>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-divider></li>
</ul>

<ul nz-menu [nzMode]="mode ? 'vertical' : 'inline'" [nzInlineCollapsed]="isCollapsed" class="mt-auto">
  <li nz-menu-group>
    <ul class="ant-menu-item-group-list">
      <li *ngIf="(themeChanged$ | async) as themeType" nz-menu-item nz-tooltip nzTooltipPlacement="right"
        (click)="toggleTheme();"
        [nzTooltipTitle]="isCollapsed ? (((themeChanged$ | async) === ThemeType.Dark ? 'settings.theme.default' : 'settings.theme.dark') | translate): ''"
        class="prueba">
        <span nz-icon>
          <i *ngIf="themeType === ThemeType.Default" class="fas fa-moon"></i>
          <i *ngIf="themeType === ThemeType.Dark" class="fas fa-sun"></i>
        </span>
        <span>
          {{ ((themeChanged$ | async) === ThemeType.Dark ? "settings.theme.default" : "settings.theme.dark") | translate
          }}
        </span>
      </li>
    </ul>
  </li>
</ul>

<!-- 
<ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <ng-container *ngFor="let item of menuItems">
    <li *ngIf="!item.children" nz-menu-item [nzSelected]="item.route === currentPath">
      <a [routerLink]="item.route">{{ item.name }}</a>
    </li>
    <nz-divider></nz-divider>

    <li nz-menu-item >
      <span *ngIf="item.icon" nz-icon [nzType]="item.icon"></span>
      <span >{{ item.name }}</span>
    </li>
    <ng-container *ngIf="item.children">
      <ng-container *ngFor="let child of item.children">
        <li nz-menu-item [nzSelected]="child.route === currentPath" [routerLinkActive]="['active']">
          <a [routerLink]="child.route">{{ child.name }}</a>
        </li>
      </ng-container>
    </ng-container>

        <li *ngIf="item.children" nz-submenu [nzTitle]="item.name" [nzIcon]="item.icon" [nzOpen]="item.isOpen">
          <ul>
            <ng-container *ngFor="let child of item.children">
              <li nz-menu-item [nzSelected]="child.route === currentPath" [routerLinkActive]="['active']">
                <a [routerLink]="child.route">{{ child.name }}</a>
              </li>
            </ng-container>
          </ul>
        </li>
       
  </ng-container>
</ul>
-->
<nz-drawer *ngIf="isMobile" [nzVisible]="!isCollapsed" [nzPlacement]="'left'" [nzWidth]="'256px'" [nzClosable]="false"
  (nzOnClose)="close()" [nzBodyStyle]="{ padding: '0' }">
  <ng-container *nzDrawerContent>
    <div class="sidebar-logo">
      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
      <h1>Sistema de Gestión</h1>
    </div>
    <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" 
      [nzTooltipTitle]="isCollapsed ? 'Inicio' : ''"  
      [routerLink]="['/']"
      routerLinkActive="ant-menu-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
      >
          <span nz-icon nzType="home"></span>
          <span>Inicio</span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Angular' : ''" nzMatchRouter [routerLink]="['angular']">
        <span nz-icon><i class="fab fa-angular"></i></span>
        <span>Angular</span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'MongoDB' : ''" nzMatchRouter [routerLink]="['mongodb']">
        <span nz-icon><i class="fas fa-database"></i></span>
        <span>MongoDB</span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Express' : ''" nzMatchRouter [routerLink]="['express']">
        <span nz-icon><i class="fab fa-node-js"></i></span>
        <span>Express</span>
      </li>
      <li nz-menu-divider></li>
    
      <li nz-submenu [nzTitle]="Taskpl">
        <ng-template #Taskpl>
          <span nz-icon><i class="bi bi-list-task"></i></span>
          <span>Tareas</span>
        </ng-template>
        <ul nz-menu-group [nzTitle]="isCollapsed ? 'Tareas' : 'Opciones'">
          <li nz-menu-group nzTitle="Acciones">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="fa-solid fa-thumbtack"></i></span>
                <span>Ver todas las tareas</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="bi bi-plus-circle"></i></span>
                <span>Agregar tarea</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="bi bi-star"></i></span>
                <span>Ver favoritas</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="bi bi-clock"></i></span>
                <span>Ver programadas</span>
              </li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Filtrar">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-calendar-day"></i></span>
                <span>Hoy</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-check-circle"></i></span>
                <span>Completas</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-exclamation-circle"></i></span>
                <span>Vencidas</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-folder"></i></span>
                <span>Categorias</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-hourglass-half"></i></span>
                <span>Proxima</span>
              </li>
            </ul>
          </li>
    
        </ul>
      </li>
    
      <li nz-submenu [nzTitle]="Proyectospl">
        <ng-template #Proyectospl>
          <span nz-icon><i class="bi bi-journal"></i></span>
          <span>Proyectos</span>
        </ng-template>
        <ul nz-menu-group [nzTitle]="isCollapsed ? 'Proyectos' : 'Opciones'">
          <li nz-menu-group nzTitle="Acciones">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="bi bi-folder-plus"></i></span>
                <span>Nuevo Proyecto</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="bi bi-folder2-open"></i></span>
                <span>Ver Proyectos</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="bi bi-archive"></i></span>
                <span>Archivar Proyecto</span>
              </li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Filtrar">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-calendar-day"></i></span>
                <span>Por Fecha</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-check-circle"></i></span>
                <span>Completados</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-exclamation-circle"></i></span>
                <span>Pendientes</span>
              </li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Avanzado">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="bi bi-people"></i></span>
                <span>Compartir Proyecto</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="bi bi-chat-right-text"></i></span>
                <span>Comentarios</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    
      <li nz-submenu [nzTitle]="Userpl">
        <ng-template #Userpl>
          <span nz-icon><i class="bi bi-person"></i></span>
          <span>Usuarios</span>
        </ng-template>
        <ul nz-menu-group [nzTitle]="isCollapsed ? 'Usuarios' : 'Opciones'">
          <li nz-menu-group nzTitle="Ver usuarios">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-users"></i></span>
                <span>Ver todos los usuarios</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-user-check"></i></span>
                <span>Usuarios verificados</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-user-slash"></i></span>
                <span>Usuarios bloqueados</span>
              </li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Agregar usuario">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="bi bi-plus-circle"></i></span>
                <span>Agregar usuario</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-user-tag"></i></span>
                <span>Agregar etiqueta</span>
              </li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Filtrar usuarios">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-calendar-day"></i></span>
                <span>Registrados hoy</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-user-tag"></i></span>
                <span>Usuarios con etiquetas</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    
      <li nz-submenu [nzTitle]="RolesPerms">
        <ng-template #RolesPerms>
          <span nz-icon><i class="bi bi-shield-lock"></i></span>
          <span>Roles y Permisos</span>
        </ng-template>
        <ul nz-menu-group [nzTitle]="isCollapsed ? 'Roles y Permisos' : 'Opciones'">
          <li nz-menu-group nzTitle="Acciones">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-list"></i></span>
                <span>Ver todos los roles</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-plus"></i></span>
                <span>Agregar nuevo rol</span>
              </li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Permisos">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-list"></i></span>
                <span>Ver todos los permisos</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-plus"></i></span>
                <span>Agregar nuevo permiso</span>
              </li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Asignación">
            <ul>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-user-plus"></i></span>
                <span>Asignar rol a usuario</span>
              </li>
              <li nz-menu-item>
                <span nz-icon><i class="fas fa-key"></i></span>
                <span>Asignar permiso a rol</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-menu-divider></li>
    </ul>
    
    <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed" class="mt-auto">
      <li nz-menu-group>
        <ul class="ant-menu-item-group-list">
          <li *ngIf="(themeChanged$ | async) as themeType" nz-menu-item nz-tooltip nzTooltipPlacement="right"
            (click)="toggleTheme()"
            [nzTooltipTitle]="isCollapsed ? (((themeChanged$ | async) === ThemeType.Dark ? 'settings.theme.default' : 'settings.theme.dark') | translate): ''"
            class="prueba">
            <span nz-icon>
              <i *ngIf="themeType === ThemeType.Default" class="fas fa-moon"></i>
              <i *ngIf="themeType === ThemeType.Dark" class="fas fa-sun"></i>
            </span>
            <span>
              {{ ((themeChanged$ | async) === ThemeType.Dark ? "settings.theme.default" : "settings.theme.dark") | translate
              }}
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </ng-container>
</nz-drawer>